body {
    font-family: sans-serif;
}

h1, h2 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="submit"] {
    margin: 5px 0;
    padding: 5px;
}

@media screen and (min-width: 600px) {
    form {
        flex-direction: row;
        align-items: center;
    }

    input[type="text"], input[type="submit"] {
        margin: 0 10px;
    }
}
